.element{
  margin-top:2em;
  cursor:pointer;
  transition:.2s;
}
.element:hover{
  transform: scale(1.02);
}

.disabled {
  pointer-events: none !important;
  cursor: default !important;
  opacity: 0.2;
}
