<div class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="name" matInput placeholder="Game name" value="">
  </mat-form-field>
  <em>Hidden</em> games are not visible on the listing. Only people with direct link can join.<br><br>
  <mat-slide-toggle [(ngModel)]="hidden">Hidden</mat-slide-toggle>
  <mat-form-field class="example-full-width">
    <input type="number" [(ngModel)]="maxPlayers" matInput placeholder="max players" value="5">
  </mat-form-field>
  <button class="example-full-width" mat-button color="primary" (click)="create()">Create</button>
</div>
