<app-name-prompt style="z-index:5;position:relative" [@enterAnimation]  *ngIf="!name || changingName"></app-name-prompt>
<!--- no to jest ciekawe, z-index jest zmieniany przez animację i trzeba było dac relative -->


<section class="container">
<mat-card>
  <mat-card-header>
    <h1>Hi! {{name}}</h1>
  </mat-card-header>
  <mat-card-content>
    <section style="display: flex;flex-direction: row"><p style="display: block;width:45%">Prove you are the funniest guy in the room with the <b>REVOLUTIONARY!!!!!</b> ultimate way to have fun in ways never experienced before. Join or host a game, get an abbreviation and try to guess a funny expanded name of an organization or a political party using the abbreviation. <br> One player is the <b>Czar</b> - the game master which chooses who found the funniest expanded name 😂</p><app-game-creator  style="display:block; overflow:hidden" [@slide] ></app-game-creator></section>


  </mat-card-content>
</mat-card>
<mat-card style="margin-top:1em;">
    <mat-card-content>
      <div class="flex">
        <div class="left-flex">
          {{rooms.length}} rooms, {{playerAmount}} players
          <button (click)="refresh()" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">refresh</mat-icon>
          </button>
        </div>
        <div class="right-flex">
          <div class="flex">
            <mat-form-field><input matInput [(ngModel)]="filter" placeholder="search by name"></mat-form-field>
            <mat-paginator *ngIf="rooms.length>4" style="margin-left:3em;" [length]="rooms.length"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25]"
                           (page)="pageEvent = $event">
            </mat-paginator>
          </div>
        </div>
      </div>

      <div *ngIf="rooms.length==0">Since there are no public games, what about <a href="#" (click)="creator=true">creating one?</a></div>
    </mat-card-content>
  </mat-card>
  <app-games-listing [start]="pageEvent.pageSize * pageEvent.pageIndex"
                     [end]="pageEvent.pageSize * (pageEvent.pageIndex+1)" [filter]="filter" class="listing"
                     [games]="rooms" [clickable]="true"></app-games-listing>
</section>
